<% include partials/header %>

<h1>login!</h1>

<form class="" action="/login" method="post">
  <input type="text" name="username" placeholder="username" value="">
  <input type="password" name="password" placeholder="password" value="">
  <input type="submit" name="" value="Login!">
</form>

<% include partials/footer %>
