<% include partials/header %>
<h1>signup!</h1>

<form class="" action="/register" method="post">
  <input type="text" name="username" placeholder="username" value="">
  <input type="password" name="password" placeholder="password" value="">
  <button name="button">Signup!</button>
</form>

<% include partials/footer %>
