<% include partials/header %>

  <div class="container">

    <header class="jumbotron">
      <h1>this is the spots page</h1>
      <p>View our spots</p>
      <p>
        <a class="btn btn-primary btn-large" href="/spots/new">Add New Spot</a>
      </p>
    </header>

    <% spots.forEach((spot) => { %>
      <div>
        <h4><%= spot.name %></h4>
        <img src="<%= spot.image %>">
      </div>
    <% }); %>

  </div>

<% include partials/footer %>
